/*Variables*/

/*color*/

$custom-black: #141618;
$white: #fff;
$dark-text: #303133;
$light-text: #7777;
$dorado: #b4975a;
$light-gray: #eaeaea;

/*Fonts*/
$main-font: 'Playfair Display', serif;
$secondary-font: 'Poppins', serif;

/*general style*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $main-font;
  color: $dark-text;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $dark-text;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    color: rgba($dark-text, 0.5);
  }
}

/* head style*/

header {
    .menu-pc {
        background: $white;
        width: 100%;
        position: fixed;
        z-index: 90;
        top: 0;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5.875rem;
        border-bottom: 1px solid $light-gray;
        .logo {
          max-width: 3.125rem;
        }
        .main-menu {
          a {
            padding: 0 0.5625rem;
          }
        }
        .social-media {
          a {
            padding: 0 0.5625rem;
          }
        }
    }
}

/*Main content*/
main {
  margin-top: 5.85rem;
  /*banner*/
  .banner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

        .column {
        width: 50%;
        background: $custom-black;
        color: $white;
        display: flex;
        flex-wrap: wrap;
            .foto{
                background-size: cover;
                background-position: center;
                width: 50%;

                &.left {
                    background-image: url('../img/portada-1.jpg');
                    background-position: left;
                }
                &.right {
                    background-image: url('../img/portada-4.jpg');
                    opacity: 0.8;
                }

                .overlay {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($custom-black, 0.4);
                    position: relative;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        opacity: 1;
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.5625rem;
                    }
                }
            }

            .text {
                width: 50%;
                padding: 3.375rem;

                h2 {
                    font-size: 1.8125rem;
                    font-weight: 400;
                    line-height: 2.68875rem;
                    margin-bottom: 1.125rem;
                }

                p {
                    font-size: 0.9375rem;
                    line-height: 1.75rem;
                }
            }

            .foto-full {
                width: 100%;
                min-height: 15.25rem;
                background-size: cover;
                background-position: center;

                &.left {
                    background-image: url('../img/portada-2.jpg');
                    opacity: 0.8;
                }

                &.right {
                    background-image: url('../img/portada-3.jpg');
                    opacity: 0.8;
                }

                .overlay {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($custom-black, 0.4);
                    position: relative;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        opacity: 1;
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.5625rem;
                    }
                }
            }
        }
    }
}